﻿<section>
    <!--onclick="$('li[role=\'presentation\']').attr('class', ''); $('#registriesTab').attr('class', 'active'); $('.tabItem').hide(); $('#registriesTabItem').show();"-->
     <ul class="nav nav-tabs" >
         <li id="claimTab" role="presentation" class="active"
             onclick="$('li[role=\'presentation\']').attr('class', ''); $('#claimTab').attr('class', 'active'); $('.tabItem').hide(); $('#claimTabItem').show();"         
             style="cursor:pointer">
             <a >Требование</a>
         </li>
         <li id="registriesTab" role="presentation" 
             onclick="$('li[role=\'presentation\']').attr('class', ''); $('#registriesTab').attr('class', 'active'); $('.tabItem').hide(); $('#registriesTabItem').show();"
             style="cursor:pointer">
             <a >Реестры</a>
         </li>
         <li id="registryTab" 
             role="presentation" 
             onclick="$('li[role=\'presentation\']').attr('class', ''); $('#registryTab').attr('class', 'active'); $('.tabItem').hide(); $('#registryTabItem').show();" 
             style="cursor:pointer; display:none">
             <a id="registryTabName">Реестр</a>
         </li>
         <!--<li id="docTab" role="presentation"
             onclick="$('li[role=\'presentation\']').attr('class', ''); $('#docTab').attr('class', 'active'); $('.tabItem').hide();" 
             style="cursor:pointer">
             <a >Документ</a>
         </li>-->
     </ul>
        <!--<input type="button" class="btn btn-primary" onclick="
        $('li[role=\'presentation\']').attr('class', '');
        $('#registryTab').attr('class', 'active');
        $('#claimTab').attr('class', '');
        "/>-->
    <!--<input type="button" class="btn btn-primary" onclick="test()"/>-->
    <!--Вкладка требования-->
    <div id="claimTabItem" class="tabItem">
        <div class="panel panel-default">
            <div class="panel-heading">Атрибуты</div>
            <div class="panel-body" data-bind="with: claim">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Наименование инспекции</label>
                        <div class="col-md-2">
                            <span data-bind="text: inspectionName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Номер требования</label>
                        <div class="col-md-2">
                            <span data-bind="text: claimNumber" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Предприятие-получатель</label>
                        <div class="col-md-2">
                            <span data-bind="text: organizationName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Комментарий</label>
                        <div class="col-md-2">
                            <span data-bind="text: comment" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Срок подготовки ответа на требование</label>
                        <div class="col-md-2">
                            <span data-bind="text: dateReady" />
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="col-md-3 control-label">Статус: </label>
                        <div class="col-md-2">
                            <span data-bind="text: state" />
                        </div>
                    </div>-->

                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Прикрепленные файлы</div>
            <div class="panel-body">
                <div class="col-md-6" data-bind="with: claim" >
                    <table class="table" data-bind="visible: files().length > 0">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Тип файла</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: files">
                            <tr  >
                                <td style="text-align: left"><span data-bind="text: name"></span></td>
                                <td><span data-bind="text: fileTypeName"></span></td>
                                <td><a title="Просмотр" data-bind="attr: { href: downloadUrl }"><i class="fa fa-file-text-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p class="pull-left">
            <input type="button" value="Сформировать архив" class="btn btn-primary" data-bind="command: cmdExport" />
        </p>
    </div>
    <!-------------------->
    <!--Вкладка реестров-->
    <!-------------------->
    <div id="registriesTabItem" class="tabItem"  style="display:none">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8" data-bind="with: claim" >
                    <table class="table table-hover" data-height="400" data-click-to-select="true" >
                        <thead>
                            <tr>
                                <th>Пункт требования</th>
                                <th>Наименование</th>
                                <th>Дата создания</th>
                                <th>Дата сдачи реестра</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: registries">
                            <tr data-bind="event: {dblclick: $root.rowDbClick}">
                                <td><span data-bind="text: claimItemNo"></span></td>
                                <td><span data-bind="text: registryName"></span></td>
                                <td><span data-bind="text: dateCreated"></span></td>
                                <td><span data-bind="text: dateReady"></span></td>
                                <td><a href="#" data-bind="attr: {href: '/#registry/' + uid() + '/claim'}"><i title="Редактировать" class="fa fa-pencil-square-o"></i></a></td>
                                <td><a href="#" data-bind="attr: {href: '/#registry/process/' + uid()}"><i title="Заполнить" class="fa fa-sign-in"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="container-fluid">
                    <div class="pull-left">
                        <input type="button" value="Загрузка из Сап" class="btn btn-primary" data-bind="command: cmdSapExport" />
                        <input id="excel-fileupload" style="display: none" type="file" data-url="/App/ImportFromExcel" />
                        <input type="button" value="Загрузить из Excel" class="btn btn-primary" data-bind="command: cmdLoadFromExcel" />
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!------------------->
    <!--Вкладка реестра-->
    <!------------------->
    <div id="registryTabItem" class="tabItem"  style="display:none">
        <div class="panel panel-default">
            <h1>Петр сюда нужно вставить HTML</h1>
        </div>
    </div>
</section>

