﻿<section>

    <div class="panel panel-default">
        <div class="panel-heading">Атрибуты</div>
        <div class="panel-body" data-bind="with: claim">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-3 control-label">Наименование инспекции</label>
                    <div class="col-md-2">
                        <input type="text" data-bind="value: inspectionName" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Номер требования</label>
                    <div class="col-md-2">
                        <input type="text" data-bind="value: claimNumber" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Предприятие-получатель</label>
                    <div class="col-md-8">
                        <select data-bind="options: $parent.organizations,
                                            optionsText: 'Name',
                                            value: $parent.selectedOrganization,
                                            optionsCaption: 'Выберите организацию...'">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Комментарий</label>
                    <div class="col-md-2">
                        <textarea data-bind="value: comment" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Срок подготовки ответа на требование</label>
                    <div class="col-md-2">
                        <input type="text" class="datefield" data-bind="datepicker: {}, value: dateReady" />
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Прикрепленные файлы</div>
        <div class="panel-body">
            <div class="col-md-6">

                <table data-bind="visible: files().length > 0" class="table">
                    <thead>
                        <tr>
                            <th>Имя файла</th>
                            <th>Тип файла</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: files">
                        <tr data-bind="visible: !isDeleted()">
                            <td>
                                <span data-bind="text: name" />
                            </td>
                            <td>
                                <select data-bind="options: $parent.fileTypes,
                                                   optionsText: 'name',
                                                   value: fileType">
                                </select>
                            </td>
                            <td><a href="#" data-bind="click: $root.removeFile"><i title="Удалить файл" class="fa fa-times"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <input id="claim-fileupload" style="display: none" type="file" data-url="/App/UploadFiles" />
            <input type="button" value="Прикрепить файл" class="btn btn-primary" data-bind="command: cmdAttachFile" />
        </div>
    </div>

    <div>
        <p class="pull-left">
            <input type="button" value="Сохранить" class="btn btn-primary" data-bind="command: cmdSave" />
            <input type="button" value="Отмена" class="btn btn-primary" data-bind="command: cmdCancel" />
        </p>
    </div>

</section>
