﻿<section>

    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Фильтр
---------------------------------------->
            <!--<div data-bind="collapsible: { activate: filter_onActivate }" style="font-size: 0.8em; line-height: 0.8em" >
                <h6>Фильтр</h6>
                <div>
                    &nbsp;
                </div>
            </div>

            <div class="separator-v" />-->

            <!-- Таблица с требованиями
    ---------------------------------------->

            <div >
                <div id="jqgrid-container">
                    <table id="claimsGrid"></table>
                    <div id="claimsPager"></div>
                </div>
            </div>


        </div>
        <div class="panel-footer" style="height: 65px">

            <p class="pull-left">
                <input type="button" data-bind="click: cmdCreate" class="btn btn-primary" value="Добавить требование" />
            </p>

        </div>
    </div>

</section>

