﻿@model SGC.TaxClaims.WebUI.ViewModels.ClaimCreateModel

@{
    ViewBag.Title = "Новое требование";
}

<h2>Новое требование</h2>

@using (Html.BeginForm("Create", "Claim", FormMethod.Post, new { id = "formCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <table class="form">
            <thead>
                <tr>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="field-title">@Html.LabelFor(model => model.InspectionName)</td>
                    <td>@Html.EditorFor(model => model.InspectionName, new { htmlAttributes = new { @class="extended" } })</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.InspectionName)</td>
                </tr>
                <tr>
                    <td class="field-title">@Html.LabelFor(model => model.ClaimNumber)</td>
                    <td>@Html.EditorFor(model => model.ClaimNumber)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.ClaimNumber)</td>
                </tr>
                <tr>
                    <td class="field-title">@Html.LabelFor(model => model.OrgId)</td>
                    <td>@Html.DropDownListFor(model => model.OrgId, Model.OrganizationSelectList, new { @class="extended" })</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.OrgId)</td>
                </tr>
                <tr>
                    <td class="field-title">@Html.LabelFor(model => model.Comment)</td>
                    <td>@Html.TextAreaFor(model => model.Comment, new { @class="extended" })</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Comment)</td>
                </tr>
                <tr>
                    <td class="field-title">@Html.LabelFor(model => model.DateReady)</td>
                    <td>@Html.EditorFor(model => model.DateReady)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>

        <div class="form-section">
            <h3 class="form-section-header">Приложенные документы</h3>

            <div class="form-section-content">
                <table class="list-container">
                    <tbody>
                        @for (int i = 0; i < Model.Files.Count; i++)
                        {
                            @Html.Partial("FileItem", Model.Files[i])
                        }
                        <tr id="anchorFiles"></tr>
                    </tbody>
                </table>
            </div>
            <div class="form-section-controls">
                <input id="fileupload" type="file" data-url="/File/UploadFiles">
            </div>
        </div>

        <div class="form-controls">
            <input type="submit" value="Создать" class="btn btn-primary" id="btn-submit" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}

@*    <div id="fileupload">   
        @using (Html.BeginForm("UploadFiles", "File", FormMethod.Post, new { id = "formUploadFiles", enctype = "multipart/form-data" }))
        {
            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>Добавить файл...</span>
                    <input type="file" name="files[]" />
                </label>
            </div>      
        }

        <div class="fileupload-content">

            <div class="fileupload-progressbar"></div>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqfileupload")

    <script type="text/javascript">
        $(document).ready(function () {

            initControls();

            $("#btn-submit").click(function () {

                // Перед отправкой формы перенумеровать список файлов, чтобы не было совпадающих индексов
                SGC.Tax.Utils.reindexElementCollection($('.item-row'));
            });

            $('#fileupload').fileupload({
                dataType: 'json',

                done: function (e, data) {
                    $.each(data.result.html, function (index, renderedHtml) {
                        //$('<p/>').text(file.Name).appendTo(document.body);

                        $(renderedHtml).insertBefore("#anchorFiles");

                        onFileAdded();
                    });
                },
                send: function (e, data) {

                },
                submit: function (e, data) {
                    data.formData = { itemIndex: countFiles() };
                },
                fail: function (e, data) {
                    // data.errorThrown
                    // data.textStatus;
                    // data.jqXHR;
                    alert(data.textStatus + " : " + data.errorThrown);
                }
            });


        //    var validator1 = $("#formCreate").validate();
   
        //    $("#btn-submit").click(function () {

        //        if ($("#formCreate").valid()) {
        //            return true; // работает
        //        }
        //        return false;
               
        //    });   
        });

        function initControls(container) {
            // Связывание обработчиков событий

            if (typeof (container) !== 'undefined' && container != null) {
                $(".removeItem", container).click(onRemoveFile);
            }
            else {
                $(".removeItem").click(onRemoveFile);
            }
        }

        function onFileAdded() {
            initControls($('.item-row').last());
        }

        function onRemoveFile() {

            var item = $(this).closest('.item-row');
            $("input[name*='IsDeleted']", item).val('True'); // Пометить элемент удаленным
            item.hide();

            //$(this).closest('.item-row').remove();
            //reindexItems();
        }

        function countFiles() {
            return $('.item-row').size();
        }

    </script>
}
