﻿@model SGC.TaxClaims.WebUI.ViewModels.ClaimViewModel
@{
    ViewBag.Title = "Просмотр требования";
}

@*<h2>Требование</h2>*@
@Html.Partial("_NavigationTitle", "Требование")

@Html.Partial("_NavigationArea")

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <table class="form">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.InspectionName)</td>
                    <td class="display-value">@Html.DisplayFor(model => model.InspectionName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ClaimNumber)</td>
                    <td class="display-value">@Html.DisplayFor(model => model.ClaimNumber)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Organization)</td>
                    <td class="display-value">@Html.DisplayFor(model => model.Organization)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Comment)</td>
                    <td class="display-value">@Html.DisplayFor(model => model.Comment)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateReady)</td>
                    <td class="display-value">@Html.DisplayFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>
        
        <div class="form-section">
            <h3 class="form-section-header">Файлы требования</h3>
            <div class="form-section-content">
            <table class="list-container">
                <tbody>
                    @for (int i = 0; i < Model.Files.Count; i++)
                    {
                        <tr>
                            <td>@Model.Files[i].Name</td>
                            <td><a title="Загрузить" href="/Claim/GetFile?fid=@Model.Files[i].UId"><i class="fa fa-file-image-o"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
                </div>
        </div>

@*        @if (Model.Registries.Count != 0)
        {
            <div class="form-section">
                <h3 class="form-section-header">Реестры требования</h3>

                <div class="form-section-content">
                    <table class="list-container">
                        <thead>
                            <tr>
                                <th>Срок подготовки</th>
                                <th>Пункт требования</th>
                                <th>Наименование реестра</th>
                                <th>Дата создания</th>
                                <th>Кто создал</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Registries.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Registries[i].DateReadyString</td>
                                    <td>@Model.Registries[i].ClaimItemNo</td>
                                    <td>@Model.Registries[i].RegistryName</td>
                                    <td>@Model.Registries[i].DateCreatedString</td>
                                    <td>@Model.Registries[i].UserCreator</td>
                                    <td><a title="Просмотр" href="/Registry/View?rid=@Model.Registries[i].Uid"><i class="fa fa-file-text-o"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }*@

@*        <div class="form-controls">
            @Html.ActionLink("Закрыть", "Index","Claim", null, new { @class = "btn btn-primary"})
        </div>*@
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqfileupload")

    <script type="text/javascript">
        
    </script>
}
