﻿@model SGC.TaxClaims.WebUI.ViewModels.ClaimEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <h4>ClaimCreateModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <table class="form">
            <thead>
                <tr>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.InspectionName)</td>
                    <td>@Html.EditorFor(model => model.InspectionName)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.InspectionName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ClaimNumber)</td>
                    <td>@Html.EditorFor(model => model.ClaimNumber)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.ClaimNumber)</td>
                </tr>
                @*<tr>
                    <td>@Html.LabelFor(model => model.TargetOrganization)</td>
                    <td>@Html.EditorFor(model => model.TargetOrganization)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.TargetOrganization)</td>
                </tr>*@
                <tr>
                    <td>@Html.LabelFor(model => model.Comment)</td>
                    <td>@Html.EditorFor(model => model.Comment)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Comment)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateReady)</td>
                    <td>@Html.EditorFor(model => model.DateReady)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку требований", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
