﻿@*@model IEnumerable<SGC.TaxClaims.WebUI.ViewModels.ClaimIndexModel>*@

@{
    ViewBag.Title = "Требования";
}

<h2>Требования</h2>

<!-- Фильтр
    ---------------------------------------->
<div></div>

<!-- Таблица с требованиями
    ---------------------------------------->
<div>
    <div>
        <table id="claimsGrid"></table>
        <div id="claimsPager"></div>
    </div>
</div>



<!-- Кнопки
    ---------------------------------------->
<div class="buttons-panel-bottom">
    <p>
        @Html.ActionLink("Добавить требование", "Create", null, new { @class = "btn btn-primary"})
    </p>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {

            //
            // Инициализация грида

            var defaultFilter = {
                "groupOp": "AND",
                "rules": [
                    //{ "field": "State", "op": "ne", "data": "1" },
                ]
            };

            $("#claimsGrid").jqGrid({
                url: '/Claim/GridData/',
                datatype: "json",
                colNames: ['Ид', 'Наименование инспекции', 'Номер тербования', 'Организация', 'Срок предоставления', 'Статус', 'Коментарий', 'Действия'],
                colModel: [
                    { name: 'Uid', index: 'Uid', hidden: true, search: false },
                    { name: 'InspectionName', index: 'InspectionName', align: 'left', sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'ClaimNumber', index: 'ClaimNumber', align: 'left', sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'TargetOrganization', index: 'TargetOrganization', align: 'left', sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'ReadyDateString', index: 'ReadyDateString', align: 'right', width: 100, sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'Status', width: 200, index: 'Status', align: 'left', width: 200, sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'Comment', index: 'Comment', align: 'left', sorttype: 'string', search: true, searchoptions: { sopt: ['eq', 'ne', 'bw', 'bn', 'ew', 'en', 'cn', 'nc'] } },
                    { name: 'act', index: 'act', width: 75, align: 'center', sortable: false, title: false }
                ],
                //Map the reader as we are using standard JSON format, not the standard jqgrid format
                jsonReader: {
                    page: "page",
                    total: "total",
                    records: "records",
                    root: "rows",
                    repeatitems: false,
                    id: "id"
                },
                rowNum: 20,
                rowList: [10, 20, 30],
                pager: '#claimsPager',
                sortname: 'ClaimNumber',
                viewrecords: true,
                sortorder: "asc",
                //----------------------------//
                //Кнопки для обработки событий// 
                //---------------------------//
                gridComplete: function () {
                    var ids = jQuery("#claimsGrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var columnVal = $("#claimsGrid").getCell(cl, 'Uid');
                        var add = "<a href=\"/Registry/Create?cid=" + columnVal + "\"><i title=\"Создать реестр\" class=\"fa fa-plus\"></i></a>";
                        var edit = "<a href=\"/Claim/Edit?claimUid=" + columnVal + "\"><i title=\"Редактирование требования\" class=\"fa fa-pencil-square-o\"></i></a>";
                        var view = "<a href=\"/Claim/Details?claimUid=" + columnVal + "\"><i title=\"Просмотр требования\" class=\"fa fa-file-text-o\"></i></a>";
                        jQuery("#claimsGrid").jqGrid('setRowData', ids[i], { act: add + "&nbsp;&nbsp;" + view });
                    }
                },
                loadonce: true,
                //width: '100%',
                autowidth: true,
                height: 500, // '100%'
                caption: "",
                search: false,

                subGrid: true,                      // set the subGrid property to true to show expand buttons for each row
                subGridRowExpanded: showChildGrid,  // javascript function that will take care of showing the child grid
                subGridOptions: {
                    // expand all rows on load
                    expandOnLoad: false
                },

                postData: { filters: JSON.stringify(defaultFilter) },

                beforeSelectRow: function (rowid, e) {
                    return true;
                },

                onSelectRow: function (rowid, status, e) {
                },

                ondblClickRow: function (rowid, iRow, iCol, e) {
                    var grid = $("#claimsGrid");
                    var claimId = grid.jqGrid('getCell', rowid, 'Uid');

                    // Переход на просмотр требования
                    location.href = "/Claim/Details?claimUid=" + claimId;
                }

            });

            //jQuery("#claimsGrid").jqGrid('filterToolbar', { searchOperators: true });

            var grid = $("#claimsGrid");

            grid.jqGrid('navGrid', '#claimsPager', { edit: false, add: false, del: false, search: false }, {}, {}, {}, {
                multipleSearch: false, overlay: false,
                beforeShowSearch: function ($form) {
                    // Увеличить размер поисковой формы
                    //$('#searchmodfbox_' + grid[0].id).width(830);
                    return true;
                }
            });
            
            /*grid.navGrid('#claimsPager', { edit: false, add: false, del: false, search: false })
            .navButtonAdd('#claimsPager', {
                caption:"Add", 
                buttonicon:"ui-icon-add", 
                onClickButton: function(){ 
                    alert("Adding Row");
                }, 
                position:"last"
            })
            .navButtonAdd('#claimsPager', {
                caption:"Del", 
                buttonicon:"ui-icon-del", 
                onClickButton: function(){ 
                    alert("Deleting Row");
                }, 
                position:"last"
            });*/
            
        });

        // the event handler on expanding parent row receives two parameters
        // the ID of the grid tow  and the primary key of the row
        function showChildGrid(parentRowID, parentRowKey) {
            var childGridID = parentRowID + "_table";
            var childGridPagerID = parentRowID + "_pager";

            var column = $("#claimsGrid").getCell(parentRowKey, 'Uid');
            //childGridURL =  + "&parentRowID=" + encodeURIComponent(parentRowKey)
            // add a table and pager HTML elements to the parent grid row - we will render the child grid here
            $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');

            $("#" + childGridID).jqGrid({
                url: '/Registry/GridData/',
                mtype: "GET",
                datatype: "json",
                page: 1,
                colNames: ['Uid', 'Наименование реестра', 'Пункт требования', 'Срок подготовки', 'Статус', 'Действия'],
                colModel: [
                    { label: 'Uid', name: 'Uid', hidden: true, key: true},
                    { label: 'RegistryName', name: 'RegistryName', align: 'left', width: 300 },
                    { label: 'ClaimItemNo', name: 'ClaimItemNo', align: 'left', width: 150 },
                    { label: 'ReadyDateString', name: 'ReadyDateString', align: 'right', width: 130 },
                    { label: 'Status', name: 'Status', align: 'left', width: 230 },
                    { name:'act', index:'act', width:75, align: 'center', sortable:false, title: false }
                ],
                //----------------------------//
                //Кнопки для обработки событий// 
                //---------------------------//
                gridComplete: function () {
                    var ids = jQuery("#" + childGridID).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var columnVal = $("#" + childGridID).getCell(cl, 'Uid');
                        //var add = "<a href=\"/Registry/Create?cid=" + columnVal + "\"><i class=\"fa fa-plus\"></i></a>";
                        var edit = "<a href=\"/Registry/Edit?rid=" + columnVal + "\"><i title=\"Редактирование реестра\" class=\"fa fa-pencil-square-o\"></i></a>";
                        var view = "<a href=\"/Registry/View?rid=" + columnVal + "\"><i title=\"Просмотр реестра\" class=\"fa fa-file-text-o\"></i></a>";
                        var fill = "<a href=\"/Registry/Fill?rid=" + columnVal + "\"><i title=\"Заполнение реестра\" class=\"fa fa-sign-in\"></i></a>";
                        jQuery("#" + childGridID).jqGrid('setRowData', ids[i], { act: fill });
                    }
                },
                loadonce: true,
                //autowidth: true,
                //width: '100%',
                //height: '100%',
                pager: "#" + childGridPagerID,
                //postData: { parentRowID: encodeURIComponent(parentRowKey), claimUid: column }
                postData: { claimUid: encodeURIComponent(column) },

                ondblClickRow: function (rowid, iRow, iCol, e) {
                    var grid = $("#" + childGridID);
                    var registryId = grid.jqGrid('getCell', rowid, 'Uid');

                    // Переход на заполнение реестра
                    location.href = "/Registry/Fill?rid=" + registryId;
                }

            });
            //jQuery("#" + childGridID).jqGrid('navGrid', "#" + childGridPagerID, { edit: false, add: false, del: false, search: false, refresh: false });
            $("#" + childGridPagerID).hide();
            //$("#" + childGridPagerID).find("table.navtable").hide();
        }
    </script>
}