﻿<!-- АТРИБУТЫ для электронного АКТА -->
<div>
    <!-- selectedDoc -->

    <form class="form-horizontal">
        <div class="form-group required">
            <label class="col-md-4 control-label">Номер осн док</label>
            <div class="col-md-2">
                <input type="text" data-bind="value: parentDocNumber" />
            </div>
        </div>

        <div class="form-group required">
            <label class="col-md-4 control-label">Дата осн док</label>
            <div class="col-md-2">
                <input type="text" data-bind="value: parentDocDate" />
            </div>
        </div>

    </form>
</div>
