﻿<!-- АТРИБУТЫ для бумажного Корректировчного счета-фактуры -->
<div>
    <form class="form-horizontal">
        <div data-bind="with: data">
            <div class="form-group required">
                <label class="col-md-4 control-label">Дата документа</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: docData().docNumber" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label">Номер документа</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: docData().docDate" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label">Сумма всего</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: sumTotal" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Сумма НДС</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: sumTax" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label">Номер осн док</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: parentDocNumber" />
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-4 control-label">Дата осн док</label>
                <div class="col-md-2">
                    <input type="text" data-bind="value: parentDocDate" />
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-md-4 control-label">Покупатель</label>
            <div class="col-md-2">

                <input type="text" name="searchtext" style="" placeholder="Введите наименование" data-bind="autoComplete: data().buyer,
    source: '/App/Partners',
    itemPresenter: root.autocompletePartnerPresenter,
    selectedPresenter: function (item) { return item.Name; },
    leaveEnabled: function () { return true; }" />
            </div>
        </div>

        <div class="form-group required" data-bind="with: data">
            <label class="col-md-4 control-label">ИНН-КПП</label>
            <div class="col-md-2">
                <span data-bind="text: buyerInn() + ' - ' + buyerKpp()" style="white-space: nowrap"></span>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-md-4 control-label">Продавец</label>
            <div class="col-md-2">
                <input type="text" name="searchtext" style="" placeholder="Введите наименование" data-bind="autoComplete: data().seller,
    source: '/App/Partners',
    itemPresenter: root.autocompletePartnerPresenter,
    selectedPresenter: function (item) { return item.Name; },
    leaveEnabled: function () { return true; }" />
            </div>
        </div>

        <div class="form-group required" data-bind="with: data">
            <label class="col-md-4 control-label">ИНН-КПП</label>
            <div class="col-md-2">
                <span data-bind="text: sellerInn() + ' - ' + sellerKpp()" style="white-space: nowrap"></span>
            </div>
        </div>

    </form>
</div>
