﻿body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/

    padding-left: 30px;
    padding-right: 30px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    background-color: #fff;
}

h2, h3, h4, h5, h6
{
    color: #275A99;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

h2
{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.buttons-panel-bottom
{
    margin-top: 20px;
}

/* 
    JQ GRID
-----------------------------------------------------------------------------*/


tr.ui-row-ltr { height: 35px; }

/* 
    ФОРМЫ 
-----------------------------------------------------------------------------*/

div.form-horizontal {
    display: table;
}

.form-controls {
    margin-top: 15px;
    text-align: right;
}

div.form-section
{
    margin-top: 15px;
    border: 1px solid #2E67B1;
}

.form-section-controls {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #E6EBF2;
}

h3.form-section-header{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: #2E67B1;
    color: #fff;
}
div.form-section-content
{
    background-color: #E6EBF2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

table.form input[type="text"],
table.form select
{
}

table.form input[type="text"].extended,
table.form select.extended,
table.form textarea.extended
{
    width: 400px;
}

table.form select.extended
{
    height: 26px;
}

table.form .field-title{
    vertical-align: top;
}

table.form .display-value {
    font-size: 16px;
}

table.list-container {

}

.list-container th {
    padding: 3px 5px;
    /*background-color: #3578CC;
    color: #fff;
    font-weight: normal;*/
    background-color: #E6EBF2;
    color: #2E67B1;
    font-weight: bold;
}

.list-container td {
    padding: 3px 5px;
}

.list-container td.order-number {
    display: none;
}


/* 
    styles for validation helpers 
-----------------------------------------------------------------------------*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.GridCreateButton {
    left: 16px;
    width: 16px;
    background: url('image/ui-icons_2e83ff_256x240.png') -32px 0
}

label.required-field {
    color:red;
    font-weight:bold;
    font-size:large;
}

table.form td {
    padding: 2px 7px 2px 2px;
}

/* 
    Selectables 
-----------------------------------------------------------------------------*/

li.ui-selected
{
     background: #B6CEEF;
}


/* 
    -----------------------------------------------------------------------------*/
#cover
{
    background: url("images/loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    z-index: 1040;
    top:0;
    left: 0;
    opacity: 0.5;
}