﻿@model SGC.TaxClaims.WebUI.ViewModels.SourceDocCreateModel

<div id="adddoc-dialog" title="Добавить документ">
    @using (Html.BeginForm("AddDoc", "Registry", FormMethod.Post, new { id = "formAddDoc" }))
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <table class="form">
                <thead>
                    <tr>
                        <th />
                        <th />
                        <th />
                        <th />
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.DocTypeValue)</td>
                        <td>@Html.DropDownListFor(model => model.DocTypeValue, Model.SourceDocTypes)</td>
                        <td><label class="required-field">*</label></td>
                        <td>@Html.ValidationMessageFor(model => model.DocTypeValue)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DocNumber)</td>
                        <td>@Html.EditorFor(model => model.DocNumber)</td>
                        <td><label class="required-field">*</label></td>
                        <td>@Html.ValidationMessageFor(model => model.DocNumber)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DocDate)</td>
                        <td>@Html.EditorFor(model => model.DocDate)</td>
                        <td><label class="required-field">*</label></td>
                        <td>@Html.ValidationMessageFor(model => model.DocDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PackageIndex)</td>
                        <td>@Html.EditorFor(model => model.PackageIndex)</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>
