﻿
<div id="importsap-form" title="Импорт из SAP">
      <form>
          <fieldset>
              <legend>Фильтр</legend>
              <input type="text" />
              <input type="text" />
              <input type="text" />
              <input type="button" value="Поиск" id="btn-searchsap" />
          </fieldset>

          <div id="importsap-result">

          </div>
@*          <div>
              <input type="button" value="Импорт" />
              <input type="button" value="Отмена" />
          </div>*@
      </form>
    </div>

