﻿@model SGC.TaxClaims.WebUI.ViewModels.RegistriesListModel

@{
    ViewBag.Title = "Реестры";
}

@Html.Partial("_NavigationTitle", "Реестры")

@Html.Partial("_NavigationArea")

@*<h2>Реестры</h2>*@

        @if (Model.Registries.Count != 0)
        {
            <div class="form-section">
                <h3 class="form-section-header">Реестры требования</h3>

                <div class="form-section-content">
                    <table class="list-container">
                        <thead>
                            <tr>
                                <th>Срок подготовки</th>
                                <th>Пункт требования</th>
                                <th>Наименование реестра</th>
                                <th>Дата создания</th>
                                <th>Кто создал</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Registries.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Registries[i].DateReadyString</td>
                                    <td>@Model.Registries[i].ClaimItemNo</td>
                                    <td>@Model.Registries[i].RegistryName</td>
                                    <td>@Model.Registries[i].DateCreatedString</td>
                                    <td>@Model.Registries[i].UserCreator</td>
                                    <td><a title="Заполнение" href="/Registry/Fill?rid=@Model.Registries[i].Uid"><i class="fa fa-sign-in"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

<!-- Кнопки
    ---------------------------------------->
<div class="buttons-panel-bottom">
    <p>
        @Html.ActionLink("Добавить реестр", "Create", "Registry", new { cid = Model.ClaimUid }, new { @class = "btn btn-primary" })
    </p>
</div>