﻿@model SGC.TaxClaims.WebUI.ViewModels.RegistryCreateModel
@{
    ViewBag.Title = "Новый реестр";
}

<h2>Новый реестр</h2>

@using (Html.BeginForm("Create", "Registry", FormMethod.Post, new { id = "formCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClaimId)

        <table class="form">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.RegistryName)</td>
                    <td>@Html.EditorFor(model => model.RegistryName, new { htmlAttributes = new { @class="extended" } })</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.RegistryName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ClaimItemNo)</td>
                    <td>@Html.EditorFor(model => model.ClaimItemNo)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.ClaimItemNo)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateReady)</td>
                    <td>@Html.EditorFor(model => model.DateReady)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    @* Список включенных документов *@
    <div class="form-section">
        <h3 class="form-section-header">Документы</h3>

        <div class="form-section-content">
            <table class="docs list-container">
                <thead>
                    <tr>
                       
                        <th>Номер документа</th>
                        <th>Дата документа</th>
                        <th>Индекс пакета</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Docs.Count; i++)
                    {
                        @Html.EditorFor(model => model.Docs[i])
                    }
                    <tr id="anchorDocs"></tr>
                </tbody>
            </table>    
        </div>

        <div class="form-section-controls">
            <input type="button" value="Импорт из SAP" class="btn btn-default" id="btn-importsap" />
            <input type="button" value="Добавить первичный документ" class="btn btn-default" id="btn-addsourcedoc" />
            <input type="button" value="Добавить отчетность НДС" title="Добавить отчетность НДС" class="btn btn-default" id="btn-addreportdoc" />
        </div>
    </div>
    
   
    <div class="form-controls">
        <input type="submit" value="Создать" class="btn btn-primary" id="btn-submit" />
        @Html.ActionLink("Отмена", "Index", "Claim", null, new { @class = "btn btn-primary" })
     </div>
}

<div style="display: none">
    @Html.Partial("_ImportSapForm")
    @Html.Partial("_AddDocForm", Model.SourceDocCreateModel)
</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/App/sgc.tax.importSapForm.js">
    </script>

    @Scripts.Render("~/bundles/sgc.tax.registry")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-submit").click(function () {

                // Перед отправкой формы перенумеровать список файлов, чтобы не было совпадающих индексов
                SGC.Tax.Utils.reindexElementCollection($('.item-row'));
            });

            $("#btn-importsap").click(function () {
                alert('Поиск документов в SAP.\nДанный функционал находится в разработке.');
                //SGC.Tax.importSapForm.open();
            });

            $("#btn-addsourcedoc").click(function () {
                SGC.Tax.Registry.addDocForm.open();
            });

            // Инициализация формы импорта из SAP
            SGC.Tax.importSapForm.init({
                onImporting: onSapDocsImporting
            });

            // Инициализация формы добавления документа
            SGC.Tax.Registry.addDocForm.init({
                onAdding: onAddingDoc
            });

        });

        function onSapDocsImporting(htmlContent) {
            $(htmlContent).insertBefore("#anchorDocs");
        }

        function onAddingDoc(htmlContent) {
            $(htmlContent).insertBefore("#anchorDocs");
        }
    </script>
}
