﻿@model SGC.TaxClaims.WebUI.ViewModels.RegistryEditModel

@{
    ViewBag.Title = "Редактирование реестра";
}

<h2>Редактирование реестра</h2>

@using (Html.BeginForm("Edit", "Registry", FormMethod.Post, new { id = "formEdit", @class="edit-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model=> model.ClaimId)

        <table class="form">
            <thead>
                <tr>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.RegistryName)</td>
                    <td>@Html.EditorFor(model => model.RegistryName)</td>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.RegistryName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ClaimItemNo)</td>
                    <td>@Html.EditorFor(model => model.ClaimItemNo)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.ClaimItemNo)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateReady)</td>
                    <td>@Html.EditorFor(model => model.DateReady)</td>
                    <td><label class="required-field">*</label></td>
                    <td>@Html.ValidationMessageFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>
    
    
    @* Список включенных документов *@
        <div>
            <h6 class="form-subheader">Документы</h6>

            <table class="docs">
                <thead>
                    <tr>
                        <th class="order-number"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Docs.Count; i++)
                    {
                        @Html.EditorFor(model => model.Docs[i])
                    }
                    <tr id="anchorDocs" ></tr>
                </tbody>
            </table>    
        </div>

        <div>
            <div>
                <input type="button" value="Импорт из SAP" class="btn btn-default" id="btn-importsap" />
                <input type="button" value="Добавить первичный документ" class="btn btn-default" id="btn-addsourcedoc" />
                <input type="button" value="Добавить отчетность НДС" title="Добавить отчетность НДС" class="btn btn-default" id="btn-addreportdoc" />
            </div>
            <div>
                @Html.ActionLink("Отмена", "Index", "Claim", null, new { @class = "btn btn-default" })
                <input type="submit" value="Сохранить" class="btn btn-default" id="btn-submit" />   
            </div>
        </div>
    </div>
}

<div style="display: none">
    @Html.Partial("_ImportSapForm")
    @Html.Partial("_AddDocForm", Model.SourceDocCreateModel)
</div>

@section Scripts {

    <script type="text/javascript" src="~/Scripts/App/sgc.tax.importSapForm.js">
    </script>

    @Scripts.Render("~/bundles/sgc.tax.registry")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-submit").click(function () {

                // Перед отправкой формы перенумеровать список файлов, чтобы не было совпадающих индексов
                SGC.Tax.Utils.reindexElementCollection($('.item-row'));
            });

            $("#btn-importsap").click(function () {
                alert('Поиск документов в SAP.\nДанный функционал находится в разработке.');
                //SGC.Tax.importSapForm.open();
            });

            $("#btn-addsourcedoc").click(function () {
                SGC.Tax.Registry.addDocForm.open();
            });


            // Инициализация формы импорта из SAP
            SGC.Tax.importSapForm.init({
                onImporting: onSapDocsImporting
            });

            // Инициализация формы добавления документа
            SGC.Tax.Registry.addDocForm.init({
                onAdding: onAddingDoc
            });

        });

        function onSapDocsImporting(htmlContent) {
            $(htmlContent).insertBefore("#anchorDocs");
        }

        function onAddingDoc(htmlContent) {
            $(htmlContent).insertBefore("#anchorDocs");
        }
    </script>
}
