﻿@model SGC.TaxClaims.WebUI.ViewModels.RegistryFillModel
@{
    ViewBag.Title = "Заполнение реестра";
}

@Html.Partial("_NavigationTitle", String.Format("{0} / {1} / {2}", Model.RegistryName, Model.ClaimItemNo, Model.DateReady))

@Html.Partial("_NavigationArea")

@*<h2>Заполнение реестра</h2>*@

<div>
    @using (Html.BeginForm("Fill", "Registry", FormMethod.Post, new { id = "formFill" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="display: block;">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ClaimId)
            @*<table class="form">
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(model => model.RegistryName)</td>
                        <td class="display-value">@Html.DisplayFor(model => model.RegistryName)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.ClaimItemNo)</td>
                        <td class="display-value">@Html.DisplayFor(model => model.ClaimItemNo)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DateReady)</td>
                        <td class="display-value">@Html.DisplayFor(model => model.DateReady)</td>
                    </tr>
                </tbody>
            </table>*@ 
@* Список включенных документов *@
            <div>
                <div class="form-section">
                    <h3 class="form-section-header">Документы</h3>

                    <table class="docs list-container" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Тип документа</th>
                                    <th>Номер документа</th>
                                    <th>Дата документа</th>
                                    <th>Индекс пакета</th>
                                    <th>Номера страниц</th>
                                    <th style="width: 50%;"></th>
                                </tr>
                            </thead>
                        </table>

                    <div class="form-section-content" style="height: 150px; overflow-y: scroll">

                        <ul class="docs" style="list-style-type: none; padding: 0">
                            @for (int i = 0; i < Model.Docs.Count; i++)
                            {
                                @Html.EditorFor(model => model.Docs[i])
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                @* Список включенных файлов *@
@*                <div class="form-section" style="float: left; width: 400px">
                    <h3 class="form-section-header">Выбранные файлы</h3>
                    <div class="form-section-content">
                    </div>
                </div>*@

                <table style="width: 100%">
                    <tr>
                        <td style="width: 350px; ">

                <div class="form-section" style=" height: 500px; overflow-y: scroll">
                    <h3 class="form-section-header">Содержимое пакета Саперион</h3>

                    <div class="form-section-content">
                        <ul id="sprFiles" style="list-style-type: none; padding-left:0" ></ul>
                    </div>
                </div>
                        </td>
                        <td style="vertical-align: top; ">

                <div id="preview-box" style="height: 500px; border: 1px solid #2E67B1; margin-left: 25px; margin-top: 15px; text-align: center;">
                    
                </div>

                        </td>
                    </tr>
                </table>

                @* Список файлов из Сапериона *@


                @* Предпросмотр файлов *@


                <div style="clear: both"></div>
            </div>

@*            <div class="form-controls">
                <input type="submit" value="Сохранить" class="btn btn-primary" id="btn-submit" />
                @Html.ActionLink("Отмена", "Index", "Claim", null, new { @class = "btn btn-primary" })
            </div>*@
        </div>
    }
</div>

<div id="cover" style="display: none"></div>

@section Scripts {

    @Scripts.Render("~/bundles/sgc.tax.registry")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".docs").selectable({
                selecting: docs_onSelecting,
                selected: docs_onSelected
            });


            $("#btn-submit").click(function () {

                // Перед отправкой формы перенумеровать список файлов, чтобы не было совпадающих индексов
                SGC.Tax.Utils.reindexElementCollection($('.item-row'));
            });

            SGC.Tax.Registry.saperionClient.init({
                
            });
        });

        //
        // Обработчики событий
        //----------------------------------------------------.

        function docs_onSelecting(event, ui) {
        }

        function docs_onSelected(event, ui) {

            // Очистить предпросмотр
            $("#preview-box").html();

            // Получить индекс пакета из выбранной строки
            var index = $('.ui-selected', event.target).find(".package-index").val();

            if (typeof index == "undefined" || index == null) {
                return;
            }

            SGC.Tax.Utils.cover(true);

            SGC.Tax.Registry.saperionClient.getFiles(index, {
                success: function (files) {
                    // Переинициализировать selectable
                    //$("#sprFiles").selectable("destroy");

                    $("#sprFiles").html("").append($("#fileTemplate").render({ files: files }));

                    $("#sprFiles").selectable({
                        selecting: spr_onSelecting,
                        selected: spr_onSelected
                    });
                    SGC.Tax.Utils.cover(false);
                },
                error: function () {
                    SGC.Tax.Utils.cover(false);
                }
            });
        }

        function spr_onSelecting(event, ui) {
        }

        function spr_onSelected(event, ui) {
            var index = $('.ui-selected', event.target).find("img").attr('src');
            
            $("#preview-box").html('<img style="height:498px" src="' + index + '"/>');
        }
    </script>

    <script id="fileTemplate" type="text/x-jsrender">
        {{for files}}
          <li style="padding-bottom: 15px; text-align: center; cursor: pointer">
              <input type="checkbox" />
              <img src="{{:Url}}" style="width:150px; height:200px" /><br />
              <a href="{{:Url}}">{{:Name}}</a>
          </li>
        {{else}}
          <div>Файлы отсутствуют.</div>
        {{/for}}        
    </script>
}
