﻿@model SGC.TaxClaims.WebUI.ViewModels.RegistryDisplayModel

@{
    ViewBag.Title = "Реестр";
}

<h2>Реестр</h2>

    <div class="form-horizontal">

        <table class="form">
            <thead>
                <tr>
                    <th/>
                    <th/>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.RegistryName)</td>
                    <td>@Html.DisplayFor(model => model.RegistryName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ClaimItemNo)</td>
                    <td>@Html.DisplayFor(model => model.ClaimItemNo)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DateReady)</td>
                    <td>@Html.DisplayFor(model => model.DateReady)</td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Отмена", "Index", "Claim", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    
    @* Список включенных документов *@
    <div>
        <h6 class="form-subheader">Приложенные документы</h6>

        <table class="docs">
            <thead>
                <th class="order-number"></th>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Docs.Count; i++)
                {
                    @Html.DisplayFor(model => model.Docs[i])
                }
            </tbody>
        </table>    
    </div>
   
@section Scripts {

}
