﻿<div data-bind="click: root.cmdSelectDocument, css: { 'tc-selected': root.selectedDoc() == document },
    event: { mouseover: root.doc_onMouseOver, mouseout: root.doc_onMouseOut }" class="tc-selectable">
    <div class="td f">
        <a data-bind="command: root.cmdCloneDocument, visible: document.cloneEnabled" class="cmd" title="Копировать"><i class="fa fa-plus-circle"></i></a>
    </div>
    <!--<td>-->
        <!-- Dropbox -->
<!--        <select data-bind="options: root.docTypes,
                            optionsText: 'Name',
                            optionsValue: 'Id',
                            value: document.docTypeId" disabled="disabled"></select>-->
        <!-- Текст -->
        <!--<span data-bind="text: root.getDocTypeName(document.docTypeId())"></span>-->
    <!--</td>-->

    <div class="td">
        <input type="checkbox" data-bind="notchecked: document.isScan"> 
    </div>
<!--    <td><input type="text" data-bind="value: document.docData().docNumber" class="tc-selectable"/></td>
    <td><input type="text" data-bind="value: document.docData().docDate" class="tc-selectable"/></td>-->
    
    <div class="td">
        <span data-bind="text: document.docData().docNumber" class="tc-selectable"/>
    </div>
    <div class="td">
        <span data-bind="text: document.docData().docDate" class="tc-selectable"/>
    </div>
    <div class="td">
        <input type="text" data-bind="value: document.packageIndex" class="tc-selectable"/>
    </div>
    <!--<td>-->
        <!--<input type="text" class="tc-selectable" disabled="disabled"/>-->
         <!--<span data-bind="text: document.isScan() ? 'скан' : 'эл'"></span>-->
        <!--<span data-bind="visible: document.dirtyFlag().isDirty">DIRTY</span>-->
    <!--</td>-->
    <div style="clear: both;"></div>
</div>    
    
    
