﻿<tr data-bind="click: root.cmdSelectDocument, css: { 'tc-selected': root.selectedDoc() == document }" class="tc-selectable">
    <td>
        <select data-bind="options: root.docTypes,
                            optionsText: 'Name',
                            optionsValue: 'Id',
                            value: document.docData().docTypeId"></select><!--optionsValue: 'Id',-->
    </td>

    <td><input type="text" data-bind="value: document.docData().docTypeId" class="tc-selectable"/></td>
    <td><input type="text" data-bind="value: document.docData().docNumber" class="tc-selectable"/></td>
    <td><input type="text" data-bind="value: document.docData().docDate" class="tc-selectable"/></td>
    <td><input type="text" data-bind="value: document.docData().packageIndex" class="tc-selectable"/></td>
    <td><input type="text" class="tc-selectable"/>сФ</td>
</tr>    
    
    
