﻿<!--<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="brand" href="/"><span class="glyphicon glyphicon-th-list">BRAND</span></a>
    </div>
</nav>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-th-list"></span></a>
      <span class="navbar-text">&gt;</span>
      <p class="navbar-text" data-bind="text: router.activeItem().title"></p>
    </div>
    <div class="loader pull-right">
    </div>
  </div>
</nav>