﻿<div style="height: 100%">
    <header data-bind="compose: { view: 'nav' }"></header>
    <section id="content" class="main container-fluid" style="height: 100%"
        data-bind="router: { transition: 'entrance', cacheViews: true }">
    </section>
    <footer data-bind="compose: { view: 'footer' }"></footer>
</div>
