﻿@using System.Web
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Выгрузка электронных документов</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Отключил кэширование -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <!-------------------------->

    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <div id="applicationHost">
        @Html.Partial("_splash")
    </div>

    @Html.Partial("_busy")

    @Scripts.Render("~/scripts/vendor")
	<script src="~/Scripts/require.js" data-main="@Url.Content("~/App/main")"></script>

    <script type="text/ecmascript">
        // Глобальный обработчик изменения размера окна
        $(window).resize(function () {
            globalResize();
        });

        $(function () {
            globalResize();
        });

        function globalResize() {
            var $window = $(window);
            var wHeight = $window.height();
            var wWidth = $window.width();

            //$('#applicationHost').height(wHeight > 400 ? wHeight - 200 : 200);
            $('#applicationHost').width(wWidth > 500 ? wWidth : 500);

            //$('.dynamic-height').height(wHeight > 400 ? wHeight - 200 : 200);
            //$('.dynamic-height').width(wWidth > 500 ? wWidth - 50 : 450);
        }
    </script>
</body>
</html>
