﻿@model SGC.TaxClaims.WebUI.ViewModels.InvoiceDisplayModel

@*@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Docs[{0}]", Model.Index);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}*@

<tr class="item-row">
    <td class="order-number">
        <div>
            @Html.Encode(Model.Index + 1)
        </div>
    </td>    
    <td>
        @Html.DisplayFor(m => m.DocNumber)

        @Html.DisplayFor(m => m.DocDate)
        
        @Html.HiddenFor(m => m.DocTypeName) @* Идентификатор типа *@
    </td>
</tr>




