﻿@model SGC.TaxClaims.WebUI.ViewModels.InvoiceFillModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Docs[{0}]", Model.Index);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<li>
    <table>
        <tr style="">
            <td style="padding-left: 8px; padding-top: 5px; padding-bottom: 5px; width: 116px; cursor: pointer">@Html.DisplayFor(m => m.DocTypeString)</td>
            <td style="padding-left: 3px; padding-top: 5px; padding-bottom: 5px; width: 130px; cursor: pointer">@Html.DisplayFor(m => m.DocNumber)</td>
            <td style="padding-left: 3px; width: 122px; cursor: pointer">@Html.DisplayFor(m => m.DocDate)</td>
            <td style="padding-left: 3px">@Html.EditorFor(m => m.PackageIndex, new { htmlAttributes = new { @class="package-index", style="width: 100px" } })</td>
            <td style="padding-left: 10px">
                @Html.EditorFor(m => m.PageNumbers)
                @Html.HiddenFor(m => m.DocTypeName) @* Идентификатор типа *@
            </td>
        </tr>
    </table>
</li>




