﻿@model SGC.TaxClaims.WebUI.ViewModels.Torg12CreateModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Docs[{0}]", Model.Index);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<tr class="item-row">
    <td class="order-number">
        <div>
            @Html.Encode(Model.Index + 1)
        </div>
    </td>    
    <td>
        @Html.EditorFor(m => m.DocNumber)
    </td>
    <td>
        @Html.EditorFor(m => m.DocDate)
    </td>
    <td>
        @Html.EditorFor(m => m.PackageIndex)
        
        @Html.HiddenFor(m => m.DocTypeName) @* Идентификатор типа *@
    </td>
    <td class="controls">
        <div>
            @*<input class="removeItem" type="submit" name="@String.Format("remove{0}", Model.Index)" value="Удалить" title="Удалить документ" />*@

            <a class="removeItem" href="#"><i title="Удалить документ" class="fa fa-times"></i></a>
        </div>
    </td>
</tr>




