﻿<div data-view="viewmodels/registry/adddoc.modal" class="modal-content">

    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->

            <div class="modal-header">
                <h3 data-bind="html: title"></h3>
            </div>
            <div class="modal-body">
                
                <div class="form-horizontal">
                    <table class="form">
                        <thead>
                            <tr>
                                <th />
                                <th />
                                <th />
                                <th />
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Тип документа</td>
                                <td>
                                    <select data-bind="options: docTypes,
                                                       optionsText: 'Name',
                                                       value: docTypeId"></select>
                                </td>
                                <td><label class="required-field">*</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ссылочный номер документа</td>
                                <td><input type="text" data-bind="value: docNumber" /></td>
                                <td><label class="required-field">*</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Дата документа</td>
                                <td><input type="text" data-bind="value: docDate" /></td>
                                <td><label class="required-field">*</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Индек пакета</td>
                                <td><input type="text" data-bind="value: packageIndex" /></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cmdCancel">Отмена</button>
                <button type="button" class="btn btn-primary" data-bind="click: cmdSave">Добавить</button>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>
