﻿<section>
    <div class="panel panel-default">
        <div class="panel-heading">Атрибуты</div>
        <div class="panel-body" data-bind="with: registry">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Наименование реестра</label>
                    <div class="col-md-9">
                        <input type="text" data-bind="value: registryName" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Пункт требования</label>
                    <div class="col-md-9">
                        <input type="text" data-bind="value: claimItemNo" />
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Срок подготовки данных</label>
                    <div class="col-md-9">
                        <input type="text" class="datefield" data-bind="datepicker: {}, value: dateReady" />
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Документы</h3>
        </div>
        <div class="panel-body">
            <div>

                <table data-bind="with: registry" class="scrollable-body registry-docs" style="height: 400px;">
                    <thead>
                        <tr>
                            <th>Тип документа</th>
                            <th>Электронный</th>
                            <th>Номер документа</th>
                            <th>Дата документа</th>
                            <th>Индекс пакета</th>
                            <th>Номера страниц</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: docs">-->
                        <!-- dfko compose:  { view: 'views/doc/_doc', model: { root: $root, document: $data }} -->
                        <!-- Чтобы не указывать контейнер (containerless control flow syntax) -->
                        <!-- /dfko -->

                        <!-- COMMENTEDko compose:  { view: templateName, model: { root: $root, document: $data }} -->
                        <!-- Чтобы не указывать контейнер (containerless control flow syntax) -->
                        <!-- COMMENTED/ko -->
                    <!--</tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">

            <div class="container-fluid">

                <p class="pull-left">
                    <input type="button" value="Импорт из SAP" class="btn btn-default" data-bind="command: cmdImportSAP" />
                    <input type="button" value="Добавить первичный документ" class="btn btn-default" data-bind="command: cmdAddDoc" />
                    <input type="button" value="Импорт из Excel" class="btn btn-default" data-bind="command: cmdExcelImport" />
                    <input id="fileupload" type="file" style="display: none" accept=".xls,.xlsx" data-url="/App/UploadRegistries" />
                    <span>Всего документов: </span><span data-bind="text: registry().docs().length"></span>
                </p>

                <p class="pull-right">
                    <input type="button" value="Сохранить" class="btn btn-primary" data-bind="command: cmdSave" />
                    <input type="button" value="Отмена" class="btn btn-primary" data-bind="command: cmdCancel" />
                </p>
            </div>

        </div>
    </div>-->

    <div>
        <p class="pull-left">
            <input type="button" value="Сохранить" class="btn btn-primary" data-bind="command: cmdSave" />
            <input type="button" value="Отмена" class="btn btn-primary" data-bind="command: cmdCancel" />
        </p>
    </div>

</section>
