﻿<section>

    <div class="conainer-default">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="processed-docs">
                        <!-- СПИСОК ДОКУМЕНТОВ
                        -------------->
                        <div class="thead">
                            <div class="th f"></div>
                            <div class="th f"></div>
                            <div class="th f"></div>
                            <div class="th type"></div>
                            <div class="th scan">Э</div>
                            <div class="th dnum">Номер док</div>
                            <div class="th ddate">Дата док</div>
                            <div class="th sum">Сумма</div>
                            <div class="th tax">НДС</div>
                            <div class="th pdnum">Номер осн док</div>
                            <div class="th pddate">Дата осн док</div>
                            <div class="th partner">Партнер</div>
                            <div class="th partnerinn">ИНН партнера</div>
                            <div class="th partnerkpp">КПП партнера</div>
                            <div class="th fcode">Код завода</div>
                            <div class="th fname">Наим завода</div>
                            <div class="th index">Индекс СЭА</div>
                            <div class="th user">Пользователь</div>
                            <div style="clear: both;"></div>
                        </div>
                        <div data-bind="foreach: { data: docs }" style="height: 150px; overflow: scroll">
                            <!-- COMMENTEDko compose:  { view: 'views/doc/_doc', model: { root: $root, document: $data }, attached: $root.docTemplate_onAttached } -->
                            <!-- Чтобы не указывать контейнер (containerless control flow syntax) -->
                            <!-- /COMMENTEDko -->

                            <div data-bind="click: $root.cmdSelectDocument, css: { 'tc-selected': $root.selectedDoc() == $data },
    event: { mouseover: $root.doc_onMouseOver, mouseout: $root.doc_onMouseOut }"
                                class="tc-selectable tr">
                                <div class="td f">
                                    <a data-bind="command: $root.cmdDeleteDoc" class="cmd" title="Удалить"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="td f">
                                    <!--<input type="checkbox" data-bind="checked: $data.sourceId">-->
                                </div>
                                <div class="td f">
                                    <a data-bind="toggle: $data.expanded" class="cmd" title="Раскрыть"><i class="fa" data-bind="visible: $data.children().length > 0, css: { 'fa-caret-right': !$data.expanded(), 'fa-caret-down': $data.expanded }"></i></a>
                                </div>
                                <div class="td type">
                                    <span data-bind="text: $root.getDocTypeName($data)"></span>
                                </div>
                                <div class="td scan">
                                    <!-- Э -->
                                    <input type="checkbox" data-bind="notchecked: $data.isScan" disabled="disabled">
                                </div>
                                <div class="td dnum">
                                    <!-- Номер док -->
                                    <span data-bind="text: $data.docData().docNumber" class="tc-selectable" />
                                </div>
                                <div class="td ddate">
                                    <!-- Дата док  -->
                                    <span data-bind="text: $data.docData().docDate" class="tc-selectable" />
                                </div>
                                <div class="td sum">
                                    <!-- Сумма -->
                                    <span data-bind="text: $data.sumTotal" class="tc-selectable" />
                                </div>
                                <div class="td tax">
                                    <!-- НДС -->
                                    <span data-bind="text: $data.sumTax" class="tc-selectable" />
                                </div>
                                <div class="td pdnum">
                                    <!-- Номер осн док -->
                                    <span data-bind="text: $data.parentDocNumber" class="tc-selectable" />
                                </div>
                                <div class="td pddate">
                                    <!-- Дата осн док -->
                                    <span data-bind="text: $data.parentDocDate" class="tc-selectable" />
                                </div>
                                <div class="td partner">
                                    <!-- Партнер -->
                                    <span data-bind="text: $data.partnerName, attr: { title: $data.partnerName }" class="tc-selectable" />
                                </div>
                                <div class="td partnerinn">
                                    <!-- ИНН партнера -->
                                    <span data-bind="text: $data.partnerINN" class="tc-selectable" />
                                </div>
                                <div class="td partnerkpp">
                                    <!-- КПП партнера -->
                                    <span data-bind="text: $data.partnerKPP" class="tc-selectable" />
                                </div>
                                <div class="td fcode">
                                    <!-- Код завода -->
                                    <span data-bind="text: $data.factoryCode" class="tc-selectable" />
                                </div>
                                <div class="td fname">
                                    <!-- Наим завода -->
                                    <span data-bind="text: $data.factoryName, attr: { title: $data.factoryName }" class="tc-selectable" />
                                </div>

                                <div class="td index">
                                    <!-- Индекс СЭА -->
                                    <div data-bind="visible: !($data.packageIndexEditor().editing()), text: $data.packageIndexEditor().text_ne, click: $data.packageIndexEditor().edit" style="width:80px; height:20px"></div>
                                    <input type="text" data-bind="visible: $data.packageIndexEditor().editing, value: $data.packageIndexEditor().text, hasFocus: $data.packageIndexEditor().editing" class="tc-selectable inverted" />
                                </div>

                                <div class="td user">
                                    <!--<span data-bind="text: $data.uid" />-->
                                    <span data-bind="text: $data.creatorUserName" />
                                </div>

                                <div style="clear: both;"></div>


                            </div>
                            <!-- ВЛОЖЕННЫЕ ДОКУМЕНТЫ -->
                            <div data-bind="with: $data, visible: $data.expanded">

                                <div data-bind="foreach: { data: children }" class="nested">
                                    <div data-bind="click: $root.cmdSelectDocument, css: { 'tc-selected': $root.selectedDoc() == $data },
    event: { mouseover: $root.doc_onMouseOver, mouseout: $root.doc_onMouseOut }"
                                        class="tc-selectable tr">
                                        <div data-bind="with: $data">

                                            <div class="td f"><a data-bind="command: $root.cmdDeleteDoc" class="cmd" title="Удалить"><i class="fa fa-times"></i></a></div>
                                            <div class="td f"></div>
                                            <div class="td f"></div>
                                            <div class="td type"><span data-bind="text: $root.getDocTypeName($data)"></span></div>
                                            <div class="td scan"></div>
                                            <div class="td dnum">
                                                <!-- Номер док -->
                                                <span data-bind="text: docData().docNumber" class="tc-selectable" />
                                            </div>
                                            <div class="td ddate">
                                                <!-- Дата док  -->
                                                <span data-bind="text: docData().docDate" class="tc-selectable" />
                                            </div>
<!--                                            <div class="td">
                                                <span data-bind="text: uid" />
                                            </div>-->
                                            <div class="td sum">
                                            </div>
                                            <div class="td tax">
                                            </div>
                                            <div class="td pdnum">
                                            </div>
                                            <div class="td pddate">
                                            </div>
                                            <div class="td partner">
                                            </div>
                                            <div class="td partnerinn">
                                            </div>
                                            <div class="td partnerkpp">
                                            </div>
                                            <div class="td fcode">
                                            </div>
                                            <div class="td fname">
                                            </div>
                                            <div class="td index">
                                            </div>
                                            <div class="td user">
                                                <span data-bind="text: creatorUserName" />
                                            </div>

                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-3">

                <!-- АТРИБУТЫ ДОКУМЕНТА -->

                <div class="panel panel-default">
                    <div class="panel-body" style="height: 550px; overflow: scroll; font-size: 0.8em;">
                        <div data-bind="compose: { view: templateDocAttr,  model: { root: $root, data: attributes } }"> 
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-3 nopadding">
                <!-- ФАЙЛЫ -->
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 550px; overflow: scroll; font-size: 0.8em;">
                        <span data-bind="kospin: isFileRequestActive, spinnerOptions: { 'top': '50%', 'left': '50%' }"></span>
                        <div data-bind="block: isFileRequestActive">

                            <div data-bind="visible: selectedDoc()">

                                <ul data-bind="foreach: files" class="files-container">
                                    <li data-bind="click: $parent.cmdSelectFile, visible: isVisible, css: { 'tc-selected': $root.selectedFile() == $data }">
                                        <div class="tr">
                                            <div class="td cb"><input type="checkbox" data-bind="visible: $root.canSelectFiles, checked: isSelected" /></div>
                                            <div class="td page"><span data-bind="text: sprPage, visible: sprPage"></span></div>
                                            <div class="td name"><span data-bind="text: name"></span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="container-fluid">
                            <div class="pull-left" data-bind="if: selectedDoc()">
                                <select data-bind="options: docTypes,
                                        optionsText: 'Name',
                                        optionsValue: 'Id',
                                        value: attributes().displayDocTypeId" style="width: 150px; font-size: 0.8em;">
                                </select>
                            </div>
                            <div class="pull-right">
                                <input type="button" value="Сохранить" class="btn btn-primary" data-bind="command: cmdProcessDoc" />
                                <input type="button" value="Отмена" class="btn btn-default" data-bind="command: cmdCancelDoc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">

                <!-- ПРЕДПРОСМОТР ФАЙЛОВ -->
                <div class="panel panel-default">

                    <div class="panel-body" style="height: 550px; overflow: scroll; font-size: 0.8em;">

                        <div data-bind="with: selectedFile, visible: selectedFile()">
                            <div data-bind="visible: previewType() == '.jpg', rotation: $root.imgRotate">
                                <img data-bind="attr: { 'src': previewUrl }" style="width: 100%" />
                            </div>
                            <div data-bind="visible: previewType() == '.pdf', pdfembed: previewUrl" id="tc-pdf-preview">
                            </div>
                            <div data-bind="visible: previewType() == '.txt'">
                            </div>
                            <div data-bind="visible: previewType() == '.xml', iframe: previewUrl" id="tc-xml-preview">
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div>
                            <a title="Повернуть влево" data-bind="command: cmdRotateLeft"><i class="fa fa-rotate-left"></i></a>
                            <a title="Повернуть вправо" data-bind="command: cmdRotateRight"><i class="fa fa-rotate-right"></i></a>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</section>
