﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Выставить в IE уровень совместимости -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>@ViewBag.Title - Выгрузка Электронных Документов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Выгрузка Электронных Документов", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
@*                  <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <li class="navbar-text">Пользователь: @User.Identity.Name</li>
                </ul>
            </div>
        @*</div>*@
    </div>

    <div class="container body-content">
        @RenderBody()
        
       
    </div>

    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Скрипт выполняемый на всех страницах -->
    <script type="text/javascript">

        //
        // Инициализация общих контролов
        //

        // ... Инициализировать культуру UI
        Globalize.culture('ru-RU');



        //// Инициализировать плагин DatePicker
        //$.datepicker.setDefaults($.datepicker.regional["ru"]);

        // ... Инициализация полей для ввода дат 
        $("input.datefield").datepicker({ dateFormat: "dd.mm.yy" });

        // Инициализация пространства имен приложения
        var SGC = {};
        SGC.Tax = {};

        //$(function () {
        //    $(window).bind('resize', layout_onResize);
        //});

        //function layout_onResize() {
    
        //    var realWindowSize = $(window).size();

        //    $.
        //}
    </script>

    @Scripts.Render("~/bundles/sgc.tax.basic")

    @RenderSection("scripts", required: false)
</body>
</html>
