﻿@{
    var model = ViewData["NavigationArea"] as SGC.TaxClaims.WebUI.ViewModels.NavigationArea;
}

@if(model != null) {

    <ul class="nav nav-tabs">
    @foreach (var link in model.Links)
    {
        <li role="presentation" @if(link.IsActive) {<text>class="active"</text>} ><a href="@link.Url" title="@link.Tooltip">@link.Title</a></li>
    }
    </ul>
    <div style="height: 20px;"></div>
}