﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Во время выполнения запроса произошла ошибка. Попробуйте повторить выполнение действия.</h2>

@if(!String.IsNullOrEmpty(ViewData["ErrorMessage"] as String)) {
    <span>@ViewData["ErrorMessage"]</span>
}
<br />
<a href="javascript:void(0)" onclick="javascript: history.back();">&larr; Вернуться на предыдущую страницу</a>