﻿@model SGC.TaxClaims.WebUI.ViewModels.FileEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Files[{0}]", Model.Index);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<tr class="item-row">
    <td class="order-number">
        <div>
            @Html.Encode(Model.Index + 1)
        </div>
    </td>    
    <td>
        @Html.DisplayFor(model => model.Name)
        
        @Html.HiddenFor(model => model.Name) @* Для передачи данных на сервер *@        
        @Html.HiddenFor(model => model.UId)
        @Html.HiddenFor(model => model.FileTypeId)
        @Html.HiddenFor(model => model.Index)
        @Html.HiddenFor(model => model.SystemName)
        @Html.HiddenFor(model => model.Size)
        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.Url)
        @Html.HiddenFor(model => model.UrlDelete)
        @Html.HiddenFor(model => model.UrlThumbnail)
        @Html.HiddenFor(model => model.IsDeleted)
    </td>
    <td class="controls">
        <div>
            @*<input class="removeItem fa fa-pencil-square-o" type="submit" name="@String.Format("remove{0}", Model.Index)" value="Удалить" title="Удалить файл" />*@

            <a class="removeItem" href="#"><i title="Удалить файл" class="fa fa-times"></i></a>
        </div>
    </td>
</tr>