﻿/* #region HTML RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym,address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,  details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video
{
    font: inherit;
    margin: 0;
}

/* #endregion */

html {
    padding: 0;
    color: black;
    /*background: #fff;*/
    background-image: url('images/body.png');
}

body {
    font-size: 18px;
    margin: 0 auto;
    /*max-width: 1100px;*/
    /*width: 1100px;*/
    /*background-color: transparent;*/
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;

    background-image: url('images/body.png');
    /*background-attachment: fixed;
    background-color: rgba(81,81,81,0.7);*/
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: -1px !important;
    color: #777;
}

/*#applicationHost {
    margin: 0 auto 0 auto;
}*/

section.main {
    /*margin-top: 80px;*/
}

/*.navbar {
    background-color: white;
}*/

.navbar .brand {
    /*padding: 6px 30px 12px 30px;*/
    /*margin-bottom: -8px;*/
    /*height: 48px;*/
}

h2.page-title {
    font-size: 32px;
}

/*.brand .title {
    float: left;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 145%;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 2% 0;
    padding-left: 50px;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-transform: initial;
    text-decoration: none;
    color: #0081C2;
}
    span.title {
        background: url(/content/images/icon.png) no-repeat left center;
        -moz-background-size: 45px;
        -o-background-size: 45px;
        -webkit-background-size: 45px;
        background-size: 45px;
    }*/

.page-splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
    color: #F58A00;
    padding: 0;
}
.page-progress-bar {
    margin: 10% 30% 0 30%;
}

.toast {
    font-weight: normal;
}
.toast-info
{
    background-color: #194D7B;
}

.toast-bottom-right {
    bottom: 50px;
}
.navbar-content-center {
    text-align: center;    
}

footer a {
    font-weight: bold;
}
footer span {
    padding: 10px 80px;
    font-size: 18px;
}

/***************************/
/* Boostrap overrides      */

/*.navbar .btn, .navbar .btn-group {
    margin-top: 16px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
}

.navbar-fixed-bottom .navbar-inner {
	padding: 6px;
}

.navbar {
    text-transform: uppercase;
}

.loader .page-progress-bar {
    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-info {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: #0081C2;
        *background-color: #0081C2;
        background-color: #194D7B;
        *background-color: #194D7B;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #0081C2 \9;
        background-color: #194D7B \9;
    }*/

/* End Boostrap overrides  */
/***************************/

@media only screen and (max-width: 979px) {
    .page-splash-message {
        font-size: 150%;
    }

    .navbar-fixed-bottom {
        position: fixed;
    }

	footer span {
		padding: 10px 50px;
		font-size: 14px;
	}
}

/* 
    ОБЩИЕ
-----------------------------------------------------------------------------*/

th{
    font-weight: bold;
    font-size: 0.8em;
}

th, td{
    text-align: center;
    padding: 2px;
}

td input[type="text"],
td select{
    height: 22px;
    font-size: 0.8em;
}

tr.tc-selected,
div.tc-selected
{
    background-color: #337ab7;
    color: white;
}

li.tc-selected
{
    background-color: #337ab7;
    color: white;
}

tr.tc-selected .fa,
div.tc-selected .fa,
li.tc-selected .fa
{
    color: white;
}


.tc-selectable {
    /*cursor: pointer;*/
}

#tc-pdf-preview embed {
    width: 100%;
    height: 540px;
}

#tc-xml-preview iframe {
    width: 100%;
    height: 540px;
}

div.ct-busy-cover {

}


.separator-v {
    height: 12px;
}

div.thead
{
    white-space: nowrap;
    border-bottom: 1px solid lightgray;
}


div.tr {
    white-space: nowrap;

}

div.th
{
    display: inline-block;
    padding: 2px;
    font-size: 0.8em;
    overflow: hidden;
    color: gray;
}

div.td{
    display: inline-block;
    padding: 2px;
    font-size: 0.9em;
    overflow: hidden;
}


/* 
    ФОРМЫ
-----------------------------------------------------------------------------*/

.form-group.required .control-label:after {
    position:absolute;
    content:'*';
    color:red;
    right:0;
    top:0;
}

/* 
    JQ GRID
-----------------------------------------------------------------------------*/


tr.ui-row-ltr { 
    height: 35px; 
    font-size: 1.2em;}

.ui-jqgrid .ui-jqgrid-htable th{
    height: 30px;
    
}

.ui-th-column
{
    font-size: 1.2em;
}

.jqgrid-actions{
    font-size: 1.5em;
}

/* 
    ТАБЛИЦЫ
-----------------------------------------------------------------------------*/

table.scrollable-body {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    /*border: 2px solid black;*/
}

table.scrollable-body thead, 
table.scrollable-body tbody, 
table.scrollable-body tr, 
table.scrollable-body td, 
table.scrollable-body th { display: block; }

table.scrollable-body tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scrollable-body thead th { 
    height: 25px;
    line-height: 25px;
}

table.scrollable-body tbody {
    
    overflow-y: auto;
}

table.scrollable-body thead {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: calc(100% - 17px);
}

/*table.scrollable-body tbody { border-top: 2px solid black; }*/

table.scrollable-body tbody td, 
table.scrollable-body thead th {
    width: 14.0%;
    float: left;
    /*border-right: 1px solid black;*/
}

table.scrollable-body tbody td:last-child, 
table.scrollable-body thead th:last-child {
    border-right: none;
}

/* 
    REGISTRY FORM
-----------------------------------------------------------------------------*/

table.registry-docs tbody tr
{
    border-top: 1px solid #F2F2F2;
}

table.scrollable-body.registry-docs tbody {
    height: 400px;

}

/* 
    REGISTRY PROCESS
-----------------------------------------------------------------------------*/



.processed-docs {
    font-size: 0.8em;
}

.processed-docs div.tr {
        border-top: 1px solid #E5E5E5;
}

.processed-docs .f {
    width: 30px;
}

.processed-docs .type {
    font-size: 0.8em;
    font-style: italic;
    width: 80px;
}

.processed-docs .scan
{
    width: 25px;
}

.processed-docs .dnum
{
    width: 175px;
}

.processed-docs .ddate
{
    width: 80px;
}

.processed-docs .sum
{
    width: 75px;
}

.processed-docs .tax
{
    width: 75px;
}

.processed-docs .pdnum
{
    width: 175px;
}

.processed-docs .pddate
{
    width: 80px;
}

.processed-docs .partner
{
    width: 100px;
}

.processed-docs .partnerinn
{
    width: 90px;
}

.processed-docs .partnerkpp
{
    width: 90px;
}

.processed-docs .fcode
{
    width: 50px;
}

.processed-docs .fname
{
    width: 100px;
}

.processed-docs .index
{
    width: 80px;
}

table.scrollable-body.processed-docs tbody {
    height: 400px;

}

.processed-docs .nested {

}

.processed-docs .nested .tr {
    border-top-width: 0px;
}


ul.files-container
{
    padding: 0;
    list-style-type: none;
}

ul.files-container li {
    height: 25px;
    /*padding: 5px 3px;*/
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
}

ul.files-container input[type="checkbox"] {
    cursor: pointer;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 22px;
}

ul.files-container span {
    
}

ul.files-container .cb {
    width: 25px;
}

ul.files-container .page {
    width: 25px;
}

ul.files-container .name {

}


/* 
    ФОРМА-ТАБЛИЦА
-----------------------------------------------------------------------------*/

/*table.form input[type="text"],
table.form select
{
}

table.form input[type="text"].extended,
table.form select.extended,
table.form textarea.extended
{
    width: 400px;
}

table.form select.extended
{
    height: 26px;
}

table.form .field-title{
    vertical-align: top;
}

table.form .display-value {
    font-size: 16px;
}*/


i.fa
{
    font-size: 1.2em;
    
}

a.cmd {
    cursor: pointer;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.inverted
{
    color: black;
}

span.validationMessage {
    color: red;
    font-size: 0.8em;
}